[submodule "extra/extensions/UserMerge"]
	path = extra/extensions/UserMerge
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/UserMerge
[submodule "extra/extensions/CharInsert"]
	path = extra/extensions/CharInsert
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/CharInsert
[submodule "extra/extensions/CategoryTree"]
	path = extra/extensions/CategoryTree
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/CategoryTree
[submodule "extra/extensions/Cite"]
	path = extra/extensions/Cite
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Cite
