[submodule "extra/extensions/UserMerge"]
	path = extra/extensions/UserMerge
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/UserMerge
[submodule "extra/extensions/CharInsert"]
	path = extra/extensions/CharInsert
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/CharInsert
[submodule "extra/extensions/CategoryTree"]
	path = extra/extensions/CategoryTree
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/CategoryTree
[submodule "extra/extensions/Cite"]
	path = extra/extensions/Cite
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Cite
[submodule "extra/extensions/CodeEditor"]
	path = extra/extensions/CodeEditor
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/CodeEditor
[submodule "extra/extensions/ConfirmEdit"]
	path = extra/extensions/ConfirmEdit
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/ConfirmEdit
[submodule "extra/extensions/Gadgets"]
	path = extra/extensions/Gadgets
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Gadgets
[submodule "extra/extensions/GeeQuBox"]
	path = extra/extensions/GeeQuBox
	url = https://github.com/ThePortalWiki/GeeQuBox
[submodule "extra/extensions/ImageMap"]
	path = extra/extensions/ImageMap
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/ImageMap
[submodule "extra/extensions/InputBox"]
	path = extra/extensions/InputBox
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/InputBox
[submodule "extra/extensions/Interwiki"]
	path = extra/extensions/Interwiki
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Interwiki
[submodule "extra/extensions/LocalisationUpdate"]
	path = extra/extensions/LocalisationUpdate
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/LocalisationUpdate
[submodule "extra/extensions/MobileFrontend"]
	path = extra/extensions/MobileFrontend
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/MobileFrontend
[submodule "extra/extensions/Nuke"]
	path = extra/extensions/Nuke
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Nuke
