[submodule "extra/extensions/UserMerge"]
	path = images/pwiki-app/extra/extensions/UserMerge
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/UserMerge
[submodule "extra/extensions/CharInsert"]
	path = images/pwiki-app/extra/extensions/CharInsert
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/CharInsert
[submodule "extra/extensions/CategoryTree"]
	path = images/pwiki-app/extra/extensions/CategoryTree
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/CategoryTree
[submodule "extra/extensions/CodeEditor"]
	path = images/pwiki-app/extra/extensions/CodeEditor
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/CodeEditor
[submodule "extra/extensions/GeeQuBox"]
	path = images/pwiki-app/extra/extensions/GeeQuBox
	url = https://github.com/ThePortalWiki/GeeQuBox
[submodule "extra/extensions/MobileFrontend"]
	path = images/pwiki-app/extra/extensions/MobileFrontend
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MobileFrontend/
[submodule "extra/extensions/RedditThumbnail"]
	path = images/pwiki-app/extra/extensions/RedditThumbnail
	url = https://github.com/ThePortalWiki/RedditThumbnail
[submodule "extra/extensions/RevQuery"]
	path = images/pwiki-app/extra/extensions/RevQuery
	url = https://github.com/ThePortalWiki/RevQuery
[submodule "extra/extensions/LangUtils"]
	path = images/pwiki-app/extra/extensions/LangUtils
	url = https://github.com/ThePortalWiki/LangUtils
[submodule "resources/backups/secret-sharing"]
	path = resources/backups/secret-sharing
	url = https://github.com/ThePortalWiki/secret-sharing
[submodule "resources/backups/python-utilitybelt"]
	path = resources/backups/python-utilitybelt
	url = https://github.com/ThePortalWiki/python-utilitybelt
[submodule "images/pwiki-bot/mrgusty"]
	path = images/pwiki-bot/mrgusty
	url = https://github.com/EtiennePerot/mrgusty
	branch = master
[submodule "images/pwiki-app/extra/extensions/EmbedVideo"]
	path = images/pwiki-app/extra/extensions/EmbedVideo
	url = https://github.com/StarCitizenWiki/mediawiki-extensions-EmbedVideo.git
[submodule "images/pwiki-app/extra/skins/Citizen"]
	path = images/pwiki-app/extra/skins/Citizen
	url = https://github.com/StarCitizenTools/mediawiki-skins-Citizen.git
