server {
	server_name "{{ pwiki_domain }}";
	listen 443 ssl;
	listen [::]:443 ssl;

	ssl_protocols TLSv1.2;
	ssl_certificate "/etc/ssl/private/{{ pwiki_domain }}/fullchain.pem";
	ssl_certificate_key "/etc/ssl/private/{{ pwiki_domain }}/privkey.pem";
	ssl_dhparam "/etc/ssl/private/{{ pwiki_domain }}/tls.dh";

	add_header Access-Control-Allow-Origin *;

	root  /home/pwiki/www;
	location / {
		rewrite ^/+$ /wiki/Main_Page permanent;
		error_page 404 = @mediawiki;
	}
	location @mediawiki {
		rewrite ^/wiki/*$                   /w/index.php?title=Main_Page last;
		rewrite ^/wiki/([^?]*)(?:\?(.*))?$  /w/index.php?title=$1&$2 last;
	}
	location /img/ {
		rewrite ^/img/(.*)$                 /w/images/$1 last;
	}
	location = /js.png {
		rewrite ^/js.png(?:\?(.*))?$        /w/load.php?$1 last;
	}
	# Open fonts for inclusion on the Team Fortress Wiki.
	location ~ \.(eot|ttf|woff|svg)$ {
		add_header Access-Control-Allow-Origin *;
	}
	location ~ pingdom.php$|pingdom.txt$ {
		return 403;
	}
	location ~ \.php$ {
		if (!-f $document_root$fastcgi_script_name) {
			return 404;
		}
		fastcgi_split_path_info ^((?U).+\.php)(/?.+)$;
		include /etc/nginx/fastcgi_params;
		fastcgi_param PATH_INFO $fastcgi_path_info;
		fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param SCRIPT_NAME $fastcgi_script_name;
		fastcgi_param HTTP_PROXY ""; # https://httpoxy.org/
		fastcgi_pass  127.0.0.1:3777;
	}
}

# Local server used by pwiki-bot running locally:
server {
	listen unix:/run/wiki.sock;
	root  /home/pwiki/www;
	location / {
		rewrite ^/+$ /wiki/Main_Page permanent;
		error_page 404 = @mediawiki;
	}
	location @mediawiki {
		rewrite ^/wiki/*$                   /w/index.php?title=Main_Page last;
		rewrite ^/wiki/([^?]*)(?:\?(.*))?$  /w/index.php?title=$1&$2 last;
	}
	location /img/ {
		rewrite ^/img/(.*)$                 /w/images/$1 last;
	}
	location = /js.png {
		rewrite ^/js.png(?:\?(.*))?$        /w/load.php?$1 last;
	}
	location ~ pingdom.php$|pingdom.txt$ {
		return 403;
	}
	location ~ \.php$ {
		if (!-f $document_root$fastcgi_script_name) {
			return 404;
		}
		fastcgi_split_path_info ^((?U).+\.php)(/?.+)$;
		include /etc/nginx/fastcgi_params;
		fastcgi_param PATH_INFO $fastcgi_path_info;
		fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param SCRIPT_NAME $fastcgi_script_name;
		fastcgi_param HTTP_PROXY ""; # https://httpoxy.org/

		# Override this as it is otherwise unset when connecting over a Unix Domain Socket.
		fastcgi_param REMOTE_ADDR 127.0.0.1;

		fastcgi_pass  127.0.0.1:3777;
	}
}

# Redirect main domain and subdomains onto main domain over HTTPS.
server {
	listen       80;
	listen       [::]:80;
	server_name  "{{ pwiki_domain }}" "www.{{ pwiki_domain }}";
	rewrite      ^ https://{{ pwiki_domain }}$uri permanent;
}
