# Expensive URL parameters.
map $arg_action $expensive_action {
	default             0;
	''                  0;
	history             0;
	toggle_view_mobile  1;
	toggle_view_desktop 1;
	edit                1;
	feedrecentchanges   0;
	info                1;
	query               0;
	feedcontributions   1;
	purge               1;
	protect             1;
	validatepassword    1;
	managetags          1;
	linkaccount         1;
	watch               0;
	delete              0;
	register            0;
	revisiondelete      1;
	setpagelanguage     0;
	~.+                 1;
}
map $arg_days $expensive_days {
	default 0;
	''      0;
	~.+     1;
}
map $arg_diff $expensive_diff {
	default 0;
	''      0;
	~.+     1;
}
map $arg_from $expensive_from {
	default 0;
	''      0;
	~.+     1;
}
map $arg_returnto $expensive_returnto {
	default 0;
	''      0;
	~.+     1;
}
map $arg_offset $expensive_offset {
	default 0;
	''      0;
	~.+     1;
}
map $arg_title $expensive_page {
	default                       0;
	''                            0;
	Special:RecentChangesLinked   1;
	Special%3ARecentChangesLinked 1;
	Special:RecentChanges         1;
	Special%3ARecentChanges       1;
	Special:UserLogin             0;
	Special:PasswordReset         0;
	Special:CreateAccount         0;
	~Special:WhatLinksHere.*      1;
	~Special%3AWhatLinksHere.*    1;
	~Special:PrefixIndex.*        1;
	~Special%3APrefixIndex.*      1;
	~Special:Log.*                1;
	~Special%3ALog%2F.*           1;
	~Special:ListFiles.*          1;
	~Special%3AListFiles%2F.*     1;
}
map $arg_title $is_required_for_logging_in {
	default                 0;
	'Special:UserLogin'     1;
	'Special:PasswordReset' 1;
	'Special:CreateAccount' 1;
}
map $arg_oldid $expensive_oldrevision {
	default 0;
	''      0;
	~.+     1;
}
map $arg_redlink $expensive_redlink {
	default 0;
	''      0;
	~.+     1;
}
map $cookie_portalwiki_p2__session $is_logged_in {
	default 0;
	''      0;
	~.+     1;
}
map $remote_addr $expensive_limit_per_abusive_ip_key {
	default              ''; # Not rate-limited.
	~^20\.171\.207\..*$  20.171.207/24;
	~^40\.77\.167\..*$   40.77.167.0/24;
	~^47\.82\.60\..*$    47.82.60.0/24;
	~^52\.167\.144\..*$  52.167.144.0/24;
	~^85\.208\.96\..*$   85.208.96.0/24;
	~^185\.191\.171\..*$ 185.191.171.0/24;
	~^28f4:d41:a3a4$     28f4:d41:a3a4;

	# Cloudflare; do not add.
	#~^104\.23\.187\..*$  104.23.187.0/24;
	#~^104\.23\.190\..*$  104.23.190.0/24;
}

# Coalesce all expensive URL parameters into one.

# Map upstream_response_time to is_slow (1 if >= 5 seconds, 0 otherwise).
map $upstream_response_time $is_slow {
	default        0;
	~^[5-9]        1;
	~^[1-9][0-9]   1;
}
map ${expensive_action}/${expensive_days}/${expensive_diff}/${expensive_from}/${expensive_returnto}/${expensive_offset}/${expensive_page}/${expensive_oldrevision}/${expensive_redlink} $expensive_pre {
	0/0/0/0/0/0/0/0/0 0;
	default           1;
}
map ${expensive_pre}/${is_required_for_logging_in} $expensive {
	1/0 1;
	default 0;
}

# Expensive queries get non-empty keys.
map $expensive $expensive_limit_global_key {
	0 '';  # Empty string = not rate limited.
	1 1;   # Global rate limit.
}
map $expensive $expensive_limit_per_ip_key {
	0 '';                   # Empty string = not rate limited.
	1 $binary_remote_addr;  # Per-IP rate limit.
}
map ${expensive}/${is_logged_in} $expensive_logged_out_global_key {
	0/0 '';  # Not expensive, logged out = not rate limited.
	1/0 1;   # Expensive, logged out = rate limited.
	0/1 '';  # Not expensive, logged in = not rate limited.
	1/1 '';  # Expensive, logged in = not rate limited.
}
map ${expensive}/${is_logged_in} $expensive_logged_out_per_ip_key {
	0/0 '';                    # Not expensive, logged out = not rate limited.
	1/0 $binary_remote_addr;   # Expensive, logged out = rate limited.
	0/1 '';                    # Not expensive, logged in = not rate limited.
	1/1 '';                    # Expensive, logged in = not rate limited.
}

# Block expensive queries for unauthenticated users.
map ${expensive}/${is_logged_in}/${is_required_for_logging_in} $block_unauthenticated_expensive_key {
	default  '';
	1/0/0    'INSTABLOCK';
}

# Rate limits.
limit_req_zone $server_name                         zone=pwiki_cheap_globally:1m                 rate=256r/s;
limit_req_zone $binary_remote_addr                  zone=pwiki_cheap_per_ip:32m                  rate=128r/s;
limit_req_zone $expensive_limit_global_key          zone=pwiki_expensive_globally:1m             rate=64r/m;
limit_req_zone $expensive_limit_per_ip_key          zone=pwiki_expensive_per_ip:32m              rate=8r/m;
limit_req_zone $expensive_limit_per_abusive_ip_key  zone=pwiki_expensive_abusive_ip:32m          rate=2r/m;
limit_req_zone $expensive_logged_out_global_key     zone=pwiki_expensive_logged_out_globally:1m  rate=32r/m;
limit_req_zone $expensive_logged_out_per_ip_key     zone=pwiki_expensive_logged_out_per_ip:32m   rate=1r/m;
limit_req_zone $block_unauthenticated_expensive_key zone=pwiki_block_unauthenticated:1m          rate=1r/m;

# Log format with special variables.
log_format pwiki '$host $remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" [logged_in=${is_logged_in} expensive=${expensive} abusive=${expensive_limit_per_abusive_ip_key}] [LIMIT: rate=$limit_rate]';

# Fail2ban log format for rate-limiting enforcement.
log_format pwiki_fail2ban '$remote_addr status=$status is_slow=${is_slow} expensive=${expensive} is_logged_in=${is_logged_in} is_required_for_logging_in=${is_required_for_logging_in} status=$status $request';

# TLS termination and filtering for rate-limiting.
server {
	server_name "{{ pwiki_domain }}";
	listen      443 ssl;
	listen      [::]:443 ssl;

	ssl_protocols       TLSv1.2;
	ssl_certificate     "/etc/ssl/private/{{ pwiki_domain }}/fullchain.pem";
	ssl_certificate_key "/etc/ssl/private/{{ pwiki_domain }}/privkey.pem";
	ssl_dhparam         "/etc/ssl/private/{{ pwiki_domain }}/tls.dh";

	access_log /var/log/nginx/{{ pwiki_domain }}.access.log   pwiki          buffer=128k flush=1s;
	access_log /var/log/nginx/{{ pwiki_domain }}.fail2ban.log pwiki_fail2ban buffer=128k flush=1s;

	add_header Access-Control-Allow-Origin *;

	root /home/pwiki/www;
	location = /js.png {
		include /etc/nginx/conf/pwiki-proxy-pass-cheap.inc;
	}
	location = /sitemap.xml {
		include /etc/nginx/conf/pwiki-proxy-pass-cheap.inc;
	}
	location /w/images/ {
		include /etc/nginx/conf/pwiki-proxy-pass-cheap.inc;
	}
	location /w/static/ {
		include /etc/nginx/conf/pwiki-proxy-pass-cheap.inc;
	}
	location /img/ {
		include /etc/nginx/conf/pwiki-proxy-pass-cheap.inc;
	}
	location /outer-static/ {
		# Serve directly.
	}
	location = /favicon.png {
		rewrite /favicon.png /outer-static/favicon.png;
	}
	location = /favicon.ico {
		rewrite /favicon.ico /outer-static/favicon.ico;
	}
	location /.within.website/x/cmd/anubis/static/img/ {
		rewrite ^/.within.website/x/cmd/anubis/static/img/(.*) /outer-static/firewall/$1;
	}
	location ~ /wiki/Special:.*$ {
		include /etc/nginx/conf/pwiki-proxy-pass-expensive.inc;
	}
	location / {
		include /etc/nginx/conf/pwiki-proxy-pass-expensive.inc;
	}
}

upstream pwiki-firewall {
	server 127.0.0.1:3888;

	# Fall back to direct access if pwiki-firewall fails.
	server unix:/run/pwiki/wiki.sock backup;
}

upstream pwiki-direct {
	server unix:/run/pwiki/wiki.sock;
}

# Local server used by pwiki-bot and pwiki-firewall running locally:
server {
	listen      unix:/run/pwiki/wiki.sock;
	server_name "{{ pwiki_domain }}";
	root        /home/pwiki/www;
	location = / {
		rewrite ^/+$ https://{{ pwiki_domain }}/wiki/Main_Page permanent;
	}
	location / {
		rewrite ^/+$ https://{{ pwiki_domain }}/wiki/Main_Page permanent;
		error_page 404 = @mediawiki;
	}
	location @mediawiki {
		rewrite ^/wiki/*$                   /w/index.php?title=Main_Page last;
		rewrite ^/wiki/([^?]*)(?:\?(.*))?$  /w/index.php?title=$1&$2 last;
	}
	location /img/ {
		rewrite ^/img/(.*)$                 /w/images/$1 last;
	}
	location = /js.png {
		rewrite ^/js.png(?:\?(.*))?$        /w/load.php?$1 last;
	}
	location ~ pingdom.php$|pingdom.txt$ {
		return 403;
	}
	location ~ RecentChangesLinked {
		return 403;
	}
	location ~ \.php$ {
		if (!-f $document_root$fastcgi_script_name) {
			return 404;
		}
		fastcgi_split_path_info ^((?U).+\.php)(/?.+)$;
		include /etc/nginx/fastcgi_params;
		fastcgi_param PATH_INFO $fastcgi_path_info;
		fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param SCRIPT_NAME $fastcgi_script_name;
		fastcgi_param HTTP_PROXY ""; # https://httpoxy.org/
		fastcgi_param HTTPS "1";

		# Override this as it is otherwise unset when connecting over a Unix Domain Socket.
		fastcgi_param REMOTE_ADDR 127.0.0.1;

		fastcgi_pass  127.0.0.1:3777;
	}
}

# Redirect main domain and subdomains onto main domain over HTTPS.
server {
	listen       80;
	listen       [::]:80;
	server_name  "{{ pwiki_domain }}" "www.{{ pwiki_domain }}";
	rewrite      ^ https://{{ pwiki_domain }}$uri permanent;
}
